@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-3 py-2 transition bg-gray-700 rounded shadow-sm hover:shadow-none;
  }

li:before {
  content: '\25B9';
  margin-right: 1em;
  font-size: 14px;
}