@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  @apply px-3 py-2 text-white transition bg-indigo-400 rounded shadow-sm hover:shadow-none;
  }

.nav {
  @apply grid text-indigo-400 justify-self-center md:pr-40 md:justify-items-end;
}

.nav-item {
  @apply uppercase transform hover:text-indigo-600 hover:translate-y-2;
}

.section {
  @apply grid content-center min-h-screen;
}

.header-title {
  @apply mb-4 font-serif text-6xl font-bold tracking-wide sm:text-7xl xl:text-8xl;
}

.header-text {
  @apply inline font-serif text-2xl tracking-wider;
}

.header-image {
  @apply hidden mb-36 w-80 h-80 xl:w-96 xl:h-96 md:ml-28 justify-self-center lg:block;
}

.section-title {
  @apply mb-2 font-serif text-5xl font-bold tracking-wide uppercase;
}

li:before {
  content: '\25B9';
  margin-right: 1em;
  font-size: 14px;
  color: #818CF8;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in forwards;
}




@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-fadeOut {
  animation: fadeOut ease 1.5s;
}

/* .js-hide-on-scroll {
  opacity: 0;
} */